/config.json
/userdata
/node_modules
/data/configs
/data/daily_quests
/data/sitedata
/data/current_day.txt
/data/daily_quest.txt
/data/realm_week.txt
/data/serverlist.txt
/data/shiny_shop_user.txt
/data/shiny_shop.txt
/data/shop_week.txt
/data/shop.txt
/data/weekly_realm.txt
/data/worldboss.txt
/data/boss_participants.txt
/package-lock.json
/isTestBranch.txt
/data/imported/words.txt
/data/guess/servers
/data/monsters/monsters_alt.txt